.body {
    background-color: rgb(255, 255, 255);
}

.header {
    /* border: 2px solid #926d6d; */
    font-size: 47px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: -4px;
    margin: 50px;
    text-align: center;
    border-radius: 2px;
    display: block;
    font-style: normal;
    text-emphasis: none;
    text-decoration: none;
}

.item {
    margin: 5px;
    border-radius: 3px;
}

.item a {
    color: #fff !important;
}

.item:hover {
    background-color: rgb(165, 165, 165);
    cursor: pointer;
    color: rgb(174, 0, 255);
}

.container {
    margin: 5px;
    padding-top: 20px;
    padding-left: 416px;
    padding-right: 408px;
    padding-bottom: 40px;
    font-size: 26px;
    text-align: justify;
}

.img {
    padding: 34px;
    float: left;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(95, 95, 95);
    color: white;
}