.body {
    background-color: rgb(250, 250, 250);
    background-image: url(../../img/img3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* to stretch the background in entire page*/
    background-attachment: fixed;
}

.header {
    /* border: 2px solid #926d6d; */
    font-size: 47px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 2px;
    display: block;
    font-style: normal;
    text-emphasis: none;
    text-decoration: none;
    background-color: #ffffff38;
}

.item {
    margin: 5px;
    border-radius: 3px;
}

.item a {
    color: #fff !important;
}

.item:hover {
    background-color: rgb(165, 165, 165);
    cursor: pointer;
    color: rgb(174, 0, 255);
}

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(95, 95, 95);
    color: white;
}

.list li {
    text-decoration: none;
    margin: 15px;
}

.container {
    margin: 5px;
    padding-left: 416px;
    padding-right: 353px;
    min-width: fit-content;
    font-size: 26px;
    text-align: justify;
    background: rgba(255, 255, 255, 0.7);
    /* white background with 50% opacity */
    padding-bottom: 100px;
}

.img {
    float: left;
}

table {
    border-spacing: 10px;
    border: 9px solid #1c7fc8;
    border-radius: 9px;
}

table th,
td {
    padding: 6px;
}

caption {
    font-size: 30px;
}

table {
    border-collapse: collapse;
    width: 1000px;
    border: 1px solid #3A5931;
    margin-bottom: 16px;
}

table td,
th {
    border: 1px solid #3A5931;
}