.body {
    background-color: white;
    background-image: url(../../img/img4.gif);
    background-repeat: no-repeat;
    background-size: cover;
    /* to stretch the background in entire page*/
    background-attachment: fixed;
}

.header {
    border: 2px solid rgb(255, 94, 0);
    background-color: rgb(255, 255, 255);
    font-size: 33px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    margin: auto;
    text-align: center;
    border-radius: 2px;
}

.menu {
    margin: 10px;
    margin-left: 0px;
    /* border: 2px solid red; */
    padding: -27px;
    padding-right: 39px;
    /* display: inline-block; */
    padding-right: 43px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    border-radius: 4px;
    background-color: rgb(233, 233, 233);
    float: left;
}

.menu a {
    text-decoration: none;
}

.menu li {
    list-style: none;
    text-decoration: none;
}

.item {
    margin: 30px;
    text-decoration: none;
    padding: 16px;
    border-radius: 3px;
}

.item:hover {
    background-color: rgb(165, 165, 165);
    cursor: pointer;
    color: rgb(174, 0, 255);
}

.gallery {
    /* float: right; */
    font-size: 22px;
    padding-right: 132px;
    padding-left: 437px;
    text-align: justify;
}

.list {
    text-decoration: none;
}

.image {
    padding-left: 146px;
    margin: 15px;
}

.gif {
    display: block;
    padding: 16px;
    margin: 10px;
    padding-left: 203px;
}

.container {
    margin: 5px;
    padding-left: 10px;
    padding-right: 0px;
    font-size: 26px;
    text-align: justify;
    background: rgba(255, 255, 255, 0.7);
    /* white background with 50% opacity */
    padding-bottom: 100px;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(95, 95, 95);
    color: white;
}