

















.card {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background: #fff;
  transition: all 0.5s ease;
  cursor: pointer;
  user-select: none;
  z-index: 10;
  overflow: hidden
}



.card:hover {
  transform: scale(1.025);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px
}

.card:hover .backgroundEffect {
  position: absolute;
  z-index: -1;
  background: #1b9ce3;
  animation: popBackground 0.3s ease-in
}

@keyframes popBackground {
  0% {
      height: 20px;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%
  }

  50% {
      height: 80px;
      border-top-left-radius: 75%;
      border-top-right-radius: 75%
  }

  75% {
      height: 160px;
      border-top-left-radius: 85%;
      border-top-right-radius: 85%
  }

  100% {
      height: 320px;
      border-top-left-radius: 100%;
      border-top-right-radius: 100%
  }
}

.card .pic {
  position: relative
}

.card .pic img {
  width: 100%;
  height: 280px;
  object-fit: cover
}