*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-black: #273239;
}

html {
  font-size: 66.66%;
}

body {
  font-size: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC",
    "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
  font-size: 1.6rem;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: 0.2s color ease-in-out;
  color: #455a64;
}
