.body {
    background-color: white;
    background-image: url(../../img/img4.gif);
    background-repeat: no-repeat;
    background-size: cover;
    /* to stretch the background in entire page*/
    background-attachment: fixed;
}

.header {
    border: 2px solid rgb(255, 94, 0);
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    margin: auto;
    text-align: center;
    border-radius: 2px;
}

.item {
    margin: 5px;
    border-radius: 3px;
}

.item a {
    color: #fff !important;
}

.item:hover {
    background-color: rgb(165, 165, 165);
    cursor: pointer;
    color: rgb(174, 0, 255);
}

.gallery {
    /* float: right; */
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10%;
    padding-left: 35%;
    text-align: justify;
}

.image {
    margin: 15px;
}

.gif {
    display: block;
    padding: 10px;
    margin: 10px;
}

img {
    width: 300px;
}



@media only screen and (min-width: 762px) {
    img {
        min-width: 710px;
    }

    .container {
        min-width: 750px;
    }
}

@media only screen and (min-width: 1124px) {
    img {
        min-width: 1080px;
    }

    .container {
        min-width: 1100px;
    }
}

