.body {
    background-color: white;
}

.header {
    border: 2px solid #926d6d;
    font-size: 33px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    margin: auto;
    text-align: center;
    border-radius: 2px;
}

.item {
    margin: 5px;
    border-radius: 3px;
}

.item a {
    color: #fff !important;
}

.item:hover {
    background-color: rgb(165, 165, 165);
    cursor: pointer;
    color: rgb(174, 0, 255);
}

.gallery {
    /* float: right; */
    font-size: 22px;
    padding-right: 10%;
    padding-left: 20%;
    text-align: justify;
    padding-top: 20px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(95, 95, 95);
    color: white;
}

.image1, .image2 {
    padding-left: 10%;
    margin: 15px;
}

@media only screen and (min-width: 862px) {
    .image1{
        width: 800px !important;
        height: 450px !important;
    }

    .image2 {
        width: 700px !important;
        height: 350px !important;
    }
}